/* 定义全局变量 */
:root{
    --primary-color:#f8924d;
    --gray-color:#999;
    --primary-gray-color:#666;
    --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
    /* 全局样式改写 */
    /* --van-tabbar-item-text-color:"#000" */
}

body{
    font-size: 14px;
}